<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
        <package name="com.zhanhong.wcs.entity.sys"/>
        <package name="com.zhanhong.wcs.entity.cost"/>
        <package name="com.zhanhong.wcs.entity.use"/>
        <package name="com.zhanhong.wcs.entity.page"/>
        <package name="com.zhanhong.wcs.view.sys"/>
        <package name="com.zhanhong.wcs.view.use"/>
        <package name="com.zhanhong.wcs.view.cost"/>
    </typeAliases>
</configuration>
